<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CAPTURA_ACCOUNT_ID</key>
	<string>$(CAPTURA_ACCOUNT_ID)</string>
	<key>CAPTURA_CLIENT_ID</key>
	<string>$(CAPTURA_CLIENT_ID)</string>
	<key>CAPTURA_CLIENT_SECRET</key>
	<string>$(CAPTURA_CLIENT_SECRET)</string>
	<key>CAPTURA_GOOGLE_CLIENT_ID</key>
	<string>$(CAPTURA_GOOGLE_CLIENT_ID)</string>
	<key>CLAUDE_API_KEY</key>
	<string>$(CLAUDE_API_KEY)</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string></string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Iconik.Iconik-Employee</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.157275128489-3b3iepc5apq3pp1plmilqq2thh6l56n0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>157275128489-3b3iepc5apq3pp1plmilqq2thh6l56n0.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>accounts.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>apis.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>calendar.google.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>ssl.gstatic.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<false/>
				<key>NSExceptionRequiresForwardSecrecy</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSWeatherKitUsageDescription</key>
	<string>This app uses weather data to provide forecasts for your scheduled events.</string>
	<key>NSCameraUsageDescription</key>
	<string>This app needs camera access to take photos for chat messages and profile pictures.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This app needs photo library access to share images in chat and save photos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>This app needs permission to save photos to your library.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>This app needs microphone access to record voice messages in chat.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
		<string>fetch</string>
	</array>
</dict>
</plist>
