<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC3QbUosSVSyXfblYM1bwwjlAFJiiknB8A</string>
	<key>GCM_SENDER_ID</key>
	<string>700201321131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Iconik.Iconik-Employee</string>
	<key>PROJECT_ID</key>
	<string>nfc-scanner-348a4</string>
	<key>STORAGE_BUCKET</key>
	<string>nfc-scanner-348a4.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<true/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:700201321131:ios:af67c61176cee0a05bedee</string>
</dict>
</plist>
