<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA3kS7YLt4XqYodsfn8TAo8Y4Hcu3UJnSE</string>
	<key>GCM_SENDER_ID</key>
	<string>157275128489</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Iconik.Iconik-Employee</string>
	<key>PROJECT_ID</key>
	<string>focal-point-c452c</string>
	<key>STORAGE_BUCKET</key>
	<string>focal-point-c452c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:157275128489:ios:c4b4a3120d6ceb71f7dfb8</string>
</dict>
</plist>